$font-title: "Space Grotesk", sans-serif;
$font-main: "Space Grotesk", sans-serif;

$colors-primary1: hsl(204, 23.8%, 95.9%);
$colors-background1: #0F1624;
$colors-accent1: hsl(34.9,98.6%,72.9%);
$colors-button: hsl(205.1,100%,36.1%);
$colors-background2: hsl(232.7,27.3%,23.7%);

$breakpoints-sm: 640px;
$breakpoints-md: 768px;
$breakpoints-lg: 1024px;
$breakpoints-xl: 1280px;